<!DOCTYPE html>
<html>
<head>
	<title>Welcome Vue Js 2.0 Tuntorial for Todos</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
<div class="container" id="app">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Welcome Vue Js 2.0 Tuntorial for Todos</div>
				<div class="panel-body">
					<h1> {{meassge}} </h1>
					<ul class="list-group">
						<li class="list-group-item" v-for="(todo, index) in todos">{{todo.title}}
							<button class="btn btn-warning btn-xs pull-right" type="submit" v-on:click="deleteTodo(index)">Delete</button>
						</li>
					</ul>
					<form v-on:submit.prevent="addTodo(newTodo)">
						<input type="text" v-model="newTodo.title" class="form-control" placeholder="Add a new Todo">
						<div class="form-group">
							<button class="btn btn-success" type="submit">Add Todo</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/vue.js"></script>
<script type="text/javascript">
	new Vue({
	el:'#app',
	data:{
		meassge:'My Todo',
		todos:[
		{id:1,title:'Let\'s Start'}
	],
	newTodo:{id:null,title:''}
	},
	methods:{
		addTodo(newTodo){
			this.todos.push(newTodo),
			this.newTodo={id:null,title:''}
		},
		deleteTodo(index){
			this.todos.splice(index,1)
		}
	}
	
})
</script>
</body>
</html>